
<form action = "/bands/" method = "post" class = 'flex'>
    <input type='hidden' name='authenticity_token' value='form_authenticity_token'>
    Name: <input type= 'text' value = 'enter band name..' name = 'band[name]' id = 'band_name' >
    <br>
    <input type="submit">
</form>