<h4>Login</h4>
<form action = '/session/new' action = 'post' class = 'flex'>
    <input type='hidden' name='authenticity_token' value='form_authenticity_token'>
    Email: <input type= 'text' value = 'enter email..'>
    <br>
    Password: <input type = 'text' value = 'enter password..'>
    <input type="submit">
</form>