<h4>Sign up</h4 class = 'flex'>

<section class = 'flex'>
<form action = '/users/new' action = 'post'>
    <%# <input type='hidden' name='authenticity_token' value='form_authenticity_token'> %>
    <h3>Email:</h3> <input type= 'text' value = 'enter your email..'>
    <br>
    <h3>Password:</h3> <input type = 'text' value = 'create password..'>
     <input type="submit">
</form>
</section>